function dg{{n}}_edit_form(type) {

    var dlg_msg = $.messager.alert({
        id: 'dg_edit',
        title: (type=='insert') ? '{{T('inserisci')}}' : '{{T('modifica')}}',
        width : '{{width_form}}',
        height: '{{height_form}}',
        maximizable: true,
        resizable: true,
        buttons: [{
        text: '{{T('Salva')}}',
                iconCls: 'icon-save',
                onClick: function () {
                    $.messager.progress({title: '{{T('salvataggio')}}', msg: '{{T('salvataggio in corso, attendere...')}}'});	// display the progress bar
                    $('#dg_fm').form('submit');
                }
            }, {
            text: '{{T('Annulla')}}',
                iconCls: 'icon-cancel',
                onClick: function () {
                    $(dlg_msg).panel('close');
                }
            }]
    });
    $("div:not([class]):contains('undefined')").remove();

    var input_cel = '<form id="dg_fm" method="post">\n\
                        {#<div style="margin-top:5px"><input id="dg1_CAMPO1" name="CAMPO1">\n\#}
                        {{input_cell|raw}}
                    </form>';
    dlg_msg.find('div').end().append(input_cel);
    {{options_obj|raw}}
    {#
    $('#dg1_CAMPO1').textbox({
        editable: true,
        required: true,
        name: 'CAMPO1',
        prompt: 'ss',
        label: 'Valore:',
        labelPosition: 'left',
        width: 240,
    });
    #}
    if (type == "update") {
        var row = $('#dg{{n}}').datagrid('getSelected');
        if (row) {
            $('#dg_fm').form('load', row);
        }
        $('#dg_fm').form({url: '{{host_api}}{{api_url}}/UPDATE'})
    } else {
        $('#dg_fm').form({url: '{{host_api}}{{api_url}}/INSERT'})
    }
    $('#dg_fm').form({
        onSubmit: function () {
            var isValid = $(this).form('validate');
            if (!isValid) {
                $.messager.progress('close');	// hide progress bar while the form is invalid
            }
            return isValid;	// return false will stop the form submission
        },
        success: function (data) {
            $.messager.progress('close');
            var data = JSON.parse(data);
            if (data.isError) {
                $.messager.alert("{{T('errore')}}", data.msg, 'error');
            } else {
                $(dlg_msg).panel('close');
                load_dg{{n}}();
            }
        }
    });
}